/* Contact Us Section */
#call-us {
    padding: 60px 0;
    width: 100%;
}

.call-now-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Call Now Button */
#call-us-btn {
    border: 2px solid #fff;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding: 0.6rem 1.2rem;
    gap: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

#call-us-btn img {
    height: 28px;
}

#call-us-btn p {
    margin: 0;
}

#call-us-btn:hover {
    background-color: #fff;
}

#call-us-btn:hover p {
    color: #06B4E7;
}

.call-now-container a {
    text-decoration: none;
}

/* Email & Number */
.call-email-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.call-email-container p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.call-email-container p a:hover {
    color: #e0e0e0;
}

/* Responsive Styles */
@media screen and (max-width:1024px) {
    .call-now-container {
        gap: 26px;
    }
}

@media screen and (max-width:768px) {
    #call-us {
        padding: 45px 0;
    }

    #call-us-btn img {
        height: 24px;
    }

    .call-now-container {
        gap: 22px;
    }

    .call-email-container {
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (max-width:480px) {
    #call-us {
        padding: 35px 0;
    }

    .call-now-container {
        gap: 5px;
    }

    #call-us-btn img {
        height: 20px;
    }
}